@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  // fonts
  --font: 'Noto Serif', serif;
  --font-title: 'Open Sans', sans-serif;

  // colors
  --bg-color: #ffffff;
  --footer-color: #f7fafb;
  --main-color: #56949f;
  --text-color: #3a4145;
}

@media (prefers-color-scheme: dark) {
  :root {
    // colors
    --bg-color: #2d394d;
    --main-color: #56949f;
    --text-color: #fffaf8;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font);
  background-color: var(--bg-color);
  color: var(--text-color);
}

html,
body,
#root {
  height: 100%;
}

a {
  color: var(--main-color);
  text-decoration: none;
  transition: color 0.16s;
}

a:hover {
  color: var(--text-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  letter-spacing: -2px;
}

ul {
  margin-left: 1em;
}

img[alt=h200] {
  max-height: 200px;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
