
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto Slab', serif;
    font-size: 12pt;
}

.app > .header {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 32px;
}

.app > .header > h1 {
    margin-bottom: 32px;
}

.app > .header > .bio {
    line-height: 32px;
}

.app > .header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.app > .header a:hover {
    text-decoration: underline;
}

.app > .social {
    text-align: center;
    margin-bottom: 32px;
}

.app > .social > *:not(:last-child) {
    margin-right: 24px;
}

.app > .social .github {
    color: #24292e;
}

.app > .social .linkedin {
    color: #0073b1;
}

.app > .social .telegram {
    color: #28a7e5;
}

.app > .social .instagram {
    color: #E1306C;
}

.app > .social .spotify {
    color: #1db954;
}

.app > .social .soundcloud {
    color: #ff3300;
}

.app > .social .leetcode {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: -10px;
    margin-left: -8px;
    margin-right: 16px;
    background-image: url(/static/media/leetcode.ca674b51.png);
    background-size: 40px;
}

.app > .my-projects {
    text-align: center;
}

.app > .my-projects > .projects {
    margin-bottom: 32px;
}

.app > .my-projects > .projects > .project {
    margin-top: 32px;
}

.app > .my-projects > .projects > .project:not(:last-child)::after {
    content: '* * *';
    display: block;
    margin-top: 32px;
    color: #999;
}

.app > .my-projects > .projects > .project > .logo {
    width: 96px;
    height: 96px;
} 

.app > .my-projects > .projects > .project > .name {
    margin-top: 16px;
    margin-bottom: 16px;
} 

.app > .my-projects > .projects > .project > .description {
    color: gray;
}

.app > .my-projects > .projects > .project > .website {
    display: inline-block;
    margin-top: 16px;
    color: blue;
}

.app > .my-music {
    text-align: center;
}

.app > .my-music > .soudcloud-tracks {
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.app > .my-music > .soudcloud-tracks > .track {
    margin-top: 32px;
}

.app > .footer {
    text-align: center;
    margin-bottom: 32px;
    color: gray;
}

.app > .divider::before {
    content: "* * *";
}

.app > .divider {
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
    color: gray;
}

/* https://stackoverflow.com/a/54702294/10309700 */

.rainbow {
    background: linear-gradient(to right, #6666ff, #0099ff, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-animation 3s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow-animation {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}
