@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;700&display=swap');

:root {
  // fonts
  --font: 'IBM Plex Mono'; // "Roboto Mono", "Vazirmatn";
  --font-title: 'Lexend Deca';

  // colors
  --bg-color: #ffffff;
  --main-color: #56949f;
  --text-color: #286983;
}

@media (prefers-color-scheme: dark) {
  :root {
    // colors
    --bg-color: #2d394d;
    --main-color: #56949f;
    --text-color: #fffaf8;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font);
  font-weight: 500;
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-transform: lowercase;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: var(--main-color);
  text-decoration: none;
  transition: color 0.16s;
}

a:hover {
  color: var(--text-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

ul {
  margin-left: 1em;
}

.container {
  max-width: 768px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding: 0 2em;
  margin: 0 auto;

  &>nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    &>* {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
    }
  }
}

.rainbow {
  background: linear-gradient(to right, #6666ff, #0099ff, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 3s ease-in-out infinite;
  background-size: 400% 100%;

  @keyframes rainbow-animation {

    0%,
    100% {
      background-position: 0 0;
    }

    50% {
      background-position: 100% 0;
    }
  }
}